.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: large;
    font-weight: bolder;
    text-align: center;
    grid-template-rows: 40px 200px 40px;
    grid-template-areas:  
    "header header header"
    "menu content conetnt"
    "footer footer footer";
}
.container *{
    border: 1px solid  salmon;
}
.header {
    grid-area: header;
}
.menu {
    grid-area: menu;
}
.content {
    grid-area: content;
}
.footer {
    grid-area: footer;
}
.container2 {
    display: grid;
}
.item:nth-child(1)